#jumboheader{
        background-color: #fff;
        text-align: left,
}
#sub-head {
    text-align: left;

}

#intro {
    text-align: left;
}
.big-header {
    background-color:#fff;
    text-align: left;
    
}

#databutton {
    background-color: slateblue;
    position: ;
}

.table-condensed {
    font-size: 12px;
    vertical-align: top;
    
}

.tablehead{
    font-size: 12px;
    vertical-align:middle;
    
}